
@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-wrap: wrap;

    &__stiсker {
      margin-left: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .product {

    // &__title {
    //   order: 1;
    // }

    &__stiсker {
      margin: 0;
      order: -1;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
