.top-menu {
  box-shadow: inset 0px 1px 0px 0px rgba(236,236,236,1);

  &__wrapper {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &__toggle {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list--closed {
    display: none;
  }

  &__delivery {
    display: none;
  }
}

.logo {
  width: 86px;
  height: 36px;
  display: block;
  margin: 0 auto;
}

.user-block {
  padding: 0;
  margin: 0;
  list-style: none;

  &--closed {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .top-menu {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    &__list--closed {
      display: block;
      order: 3;
    }

    &__delivery {
      display: block;
      order: 4;
    }
  }

  .logo {
    margin: 0;
  }

  .user-block {
    &--closed {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .top-menu {
    &__wrapper {
      justify-content: space-between;
    }

    &__list--closed {
      order: 0;
    }
  }

  .logo {
    display: inline;
    margin: 0;
    order: 2;
  }
  .user-block {
    &--closed {
      order: 3;
    }
  }
}
